.alert{
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 25px;
    font-weight: 600;
}

.message{
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.success{
    background-color: green;
}
.pending{
    background-color: blue;
}
.error{
    background-color: red;
}